@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body {
	background-color: wheat;
	text-align: center;
}

.container {
	font-family: 'Roboto', sans-serif;
	max-width: 700px;
	margin: 0 auto;
}

.intro {
	margin: 30px 0px;
	font-weight: bold;
}

h1 {
	margin-top: 60px;
	font-size: 40px;
	color: black;
	text-transform: uppercase;
}

p {
	font-weight: 600;
}

#first {
	margin-top: 10px;
	color:brown;
}

#second {
	color:darkgreen;
}

#third {
	color: red;
	margin-bottom: 30px;
}

#userInput {
	border: 1px solid burlywood;
	height: 25px;
	border-radius: 5px;
	min-width: 55%;
	padding: 5px;
}

#enter, #clear {
	border: 1px solid;
	padding: 10px 15px;
	border-radius: 5px;
	color: #04A1BF;
	background-color: #025F70;
	transition: all 0.75s ease;
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75 ease;
	font-weight: normal;
}

#enter:hover, #clear:hover{
	background-color: #02798F;
	color: #FFCD5D;
}

li {
	list-style: none;
	padding: 10px 20px;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 600;
	border: 2px solid #025f70;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: #4EB9CD;
	transition: all 0.75s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5 ease;
}

li:hover {
	background-color: #76CFE0;
}

li > button {
	font-weight: normal;
	background-color: none;
	border: none;
	float: right;
	color: #025f70;
	font-weight: 800;
	border-radius: 10px;
}

ul {
	text-align: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 30px;
}

.done {
	background-color: #278c3d !important;
	color: #2121a0;
}

.delete {
	display: none;
}

@media (max-width: 600px) {
	#clear {
		position: fixed;
		top: 0;
		right: 0;
		margin-right: 5px;
		margin-top: 5px;
	}
  }